# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/

# Datasets and Documents
*.csv
*.xlsx
*.pdf

# IDEs
.vscode/

# Agent/Graphify outputs
graphify-out/
.agents/

# Logs and temp files
*.log
temp/
tmp/
ngrok.exe




# Ignore Smart Environment folder
.smart-env